
/**
 * 
 *
 * ウインドウ幅576px「以上」の時に適用されるスタイル
 */

@media (min-width: 576px) {
    #work_submit .submit_label{
        text-align: right;
    }
    
    #user_unit{
        width:350px;
    }
  
    #user_unit #user_photo{
        height:120px;
        width:120px;
    }
    
    #user_unit #username_and_workphotos{
        font-size:18px;
        height:120px;
        position: relative;
    }
    
    #user_unit #username_and_workphotos #workphotos_area{
        height:70px;
        position: absolute;
        bottom:0;
    }
    
    #user_unit #work_mini_photo{
        height:70px;
        width:70px;
    }
    
    #user_unit #work_mini_photo_false{
        height:70px;
        width:70px;
        line-height: 70px;
        text-align: center;
    }
    
    #work_submit_title{
        display:none;
    }
}

/**
 * 
 *
 * ウインドウ幅576px「以下」の時に適用されるスタイル
 */

@media (max-width: 576px) {
   #user_unit{
       width:265px;
   }

   #user_unit #user_photo{
        height:95px;
        width:95px;
    }
    
    #user_unit #username_and_workphotos{
        font-size:17px;
        height:95px;
        position: relative;
    }
    
    #user_unit #username_and_workphotos #workphotos_area{
        height:50px;
        position: absolute;
        bottom:0;
    }
    
    #user_unit #work_mini_photo{
        height:50px;
        width:50px;
    }
    
    #user_unit #work_mini_photo_false{
        height:50px;
        width:50px;
        line-height: 50px;
        text-align: center;
    } 
    
}


#work_unit #artwork{
    width:120px;
    height:120px;
}

#work_unit #artwork_false{
    width:120px;
    height:120px;
    text-align: center;
    line-height: 120px;
}

#work_unit #artist_name{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

#work_unit #title{
    font-style:oblique;
    color:#949495;
    margin-top: 3px;
}

#work_unit #work_unit_detail{
    position: relative;
    height: 120px;
}

#work_unit #work_unit_detail #remove_btn{
    position: absolute;
    bottom:0;
}

#user_show_wrapper .user_name{
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

#work_show_wrapper #artist_name{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#work_show_wrapper #work_name{
    font-style:oblique;
    font-size: 17px;
    text-align: center;
}

#work_show_wrapper #release_age{
    font-style:oblique;
    opacity:0.7;
    text-align: center;
}

#work_show_wrapper #genres{
    font-style:oblique;
    font-weight: 200;
    text-align: center;
}

#work_submit .droplist_first{
    width:150px;
}

#work_submit .submit_page_btns{
    width:100px;
}

#work_submit .radios{
    display: inline-block;
    width:90px;
}

.my-grey{
    color:#dcdddd;
}

.my-big{
    font-size: 4em;
}

.my-small{
    font-size: 2em;
}

.year_links, .genre_links{
    height:38px;
}

#site_title{
    font-family: 'GFS Neohellenic', sans-serif;
}


/**
 * 
 *
 * トップページ画像部
 */

.top-wrapper{
    background-image: url(/images/photoac_record1.jpg);
    background-size:cover;
    padding:65px 20px;
    color:white;
    text-align: center;
    margin-right:65px; 
    margin-left:65px;
}

@media (max-width: 800px) {
    .top-wrapper{
        margin-right:10px; 
        margin-left:10px;
        min-width: 700px;
    }
}

.top-wrapper .title{
        font-size:30px;
    }

@media (max-width: 576px) {
    .top-wrapper{
        min-width: initial;
        min-width: auto;
        background-image: url(/images/photoac_record2.jpg);
        margin-right:10px; 
        margin-left:10px;
    }
    
    .top-wrapper .title{
        font-size:20px;
    }
}


/**
 * 
 *
 * トップページ ユーザー一覧と検索ボックスなどのエリア
 */
 
#search_area, #users_index{
    padding:15px;
}

@media (min-width: 801px) {
    #users_index_and_search{
        margin-right: 65px;
        margin-left:65px;
        display: flex;
        justify-content: space-between;
    }
    
    #users_index_and_search #users_index{
        width:45%;
    }
    
    #users_index_and_search #search_area{
        width:45%;
    }
}

@media (min-width: 576px) and ( max-width:800px){
    #users_index_and_search{
        margin-right: 10px;
        margin-left: 10px;
        min-width: 700px;
        display: flex;
        justify-content: space-between;
    }
    
    #users_index_and_search #users_index{
        width:45%;
    }
    
    #users_index_and_search #search_area{
        width:45%;
    }
}

@media (max-width: 575px) {
    #users_index_and_search{
        margin-right: 10px;
        margin-left: 10px;
    }
}


/**
 * 
 *
 * 検索フォームへのスタイル
 */

#search_form{
    position:relative;
}

#search_form_input{
    height:33px;
    width:330px;
}

#search_form_btn{
    height:30px;
    position:absolute;
    top:2px;
    left:300px;
    background:none;
    color:#666;
    border:none;
    font-size:15px;/*アイコンサイズ*/
}

@media (max-width: 992px) {
    #search_form_input{
        width:265px;
    }
    
    #search_form_btn{
        left:235px;
    }
}

#search_form_btn:hover{
    color:#7fbfff;
}



/**
 * 
 * test
 * レスポンシブレイアウト動作確認
 */
 
#test-wrapper{
    min-width: initial;
    min-width: auto;
}

@media (min-width: 576px) {
    #test-wrapper{
        min-width:900px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    #test-wrapper #test-left{
        width:60%;
        background-color: #a6c8b2;
        height:300px;
    }
    
    #test-wrapper #test-right{
        width:30%;
        background-color: #fdeff2;
        height:300px;
    }
}

@media (max-width: 575px) {
    #test-wrapper{
        margin: 10px;
    }
    
    #test-wrapper #test-left{
        background-color: #e0ebaf; 
        height:300px;
    }
    
    #test-wrapper #test-right{
        background-color: #fdeff2;
        height:300px;
    }
}