.top-wrapper{
    background-image: url(/images/photoac_record1.jpg);
    background-size:cover;
    padding:100px 20px;
    color:white;
    text-align: center;
}

#work_mini_photo{
    background-color:#fef4f4;
    text-align:center;
    height:30px;
    font-size:10px;
}

#work_mini_photo span{
    line-height: 30px;
}